<div id="nav" class="pink">
	<div class="gridWrapper height100 tableView">
		<div id="logo">
			<a href="/"><img src="/resources/logo-web.png" /></a>
		</div>
		<div id="navLeft" class="navText">
			<%if(!auth){%>
				<a href="/marketplace">Volunteer</a> | <a href="/newEvent">Organize</a>
			<%}else{%>
				<%if(user.active.type == 'org'){%>
					<a href="/marketplace">Volunteer</a> | <a href="/organize">Organize</a>
				<%}else{%>
					<%if(Object.keys(user.accounts).length){%>
						<div id="volunteerHeaderWrapper"><a href="/marketplace">Volunteer</a> | </div> <div id="orgDdWrapper"><a style="cursor:pointer;" onclick="toggleDropdown('orgDropdown');">&nbsp;Organize</a>
							<div id="orgDropdown" class="dropDown">
								<div class="arrow-up dropArrow"></div>
								<p class="dropdownHeader">Organize as:</p>
								<ul style="padding-left:0;">
									<%if(user.active.type == "org"){%>
										<li class="DropdownEntry"><img src="<%=user.profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.userID%>"><%=user.name%></a></li>
									<%}%>
									<%for(account in user.accounts){%>
										<%if(user.accounts[account].id != user.active.id){%><li class="DropdownEntry"><img src="<%=user.accounts[account].profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.accounts[account].id%>"><%=user.accounts[account].name%></a></li><%}%>
									<%}%>
								</ul>
							</div>
						</div>
					<%}else{%>
						<a href="/marketplace">Volunteer</a> | <a href="/newOrganization">Organize</a>
					<%}%>
				<%}%>
			<%}%>
		</div>
		<div class="navWrapper">
			<div id="navRight">
				<%if(!auth){%>
					<a class="navText" style="margin-right: 24px; cursor: pointer;" onclick="loginModal();">Log In</a>
					<a class="smallButtonize" style="font-size: 14pt;" onclick="registerModal();">Sign Up!</a>
					<div class="overlay" id="registerOver" onclick="toggleDialogue('#registerOver')">
						<div class="popup" id="register" onclick="preventHide()">
							<h1 class="headTitle" style="text-align: center;">Sign Up</h1>	
							<form role="form" action="/register" method="post" id="registerForm">
								<div id="formWrapper">
									<div class="formSection">
										<p class="centerAlign" style="text-align: center;">Have an account? <a href="/login">Log in</a></p>
										<div id="twitterAuth">
											<a href="/auth/twitter" style="position: absolute; width: 100%; height: 100%; z-index:1;">
											</a>
											<div class="buttonTable">
												<div class="buttonContent">
													<div class="buttonLogo" id="twitter"></div>
													<h3 class="buttonText">with twitter</h3>
												</div>
											</div>
											
										</div>

										<p class="caption" style="text-align: center; margin-top:14px;">we'll never post anything without your permission!</p>
										<div class="optionDivider">
											<div class="dividerWrapper">
												<div class="dividerLine">
												</div>
												<h1 class="dividerText">OR</h1>
												<div class="dividerLine">
												</div>
											</div>
										</div>
										<div class="modalForm width100">
											<input type="text" id="firstName" name="firstName" placeholder="first name" class="formtext validateInterest" style="width: 226px; margin-right:12px;" required>
											<input type="text" id="lastName" name="lastName" placeholder="last name" class="formtext floatRight validateInterest" style="width: 226px;" required><br>
											<input type="text" id="affiliate" name="affiliate" placeholder="affiliated schools or organizations" class="formtext width100 validateInterest" required><br>
											<input type="text" id="username" name="username" placeholder="username" onblur="checkUsername();" class="formtext width100 validateInterest" required><br>
											<input type="email" id="emailAddress" name="emailAddress" placeholder="email" class="formtext width100 validateInterest" required><br>
											<input type="password" id="password" name="password" placeholder="password" class="formtext width100 validateInterest" required>
										</div>
									</div>
								</div>
								<div class="buttonContainer">
									<button type="submit" class="centerBox buttonize pink">SUBMIT</button>
								</div>
							</form>
						</div>
					</div>
					<div class="overlay" id="loginOver" onclick="toggleDialogue('#loginOver')">
						<div class="popup" id="login" onclick="preventHide()">
							<h1 class="headTitle" style="text-align: center;">Sign In</h1>	
							<form role="form" action="/login" method="post" id="loginForm">
								<div id="formWrapper">
									<div class="formSection">
										<p class="centerAlign" style="text-align: center;">Don't have an account? <a href="/register">Create one!</a></p>
										<div id="twitterAuth">
											<a href="/auth/twitter" style="position: absolute; width: 100%; height: 100%; z-index:1;">
											</a>
											<div class="buttonTable">
												<div class="buttonContent">
													<div class="buttonLogo" id="twitter"></div>
													<h3 class="buttonText">with twitter</h3>
												</div>
											</div>
											
										</div>
										<p class="caption" style="text-align: center; margin-top:14px;">we'll never post anything without your permission!</p>
										<div class="optionDivider">
											<div class="dividerWrapper">
												<div class="dividerLine">
												</div>
												<h1 class="dividerText">OR</h1>
												<div class="dividerLine">
												</div>
											</div>
										</div>
										<div class="modalForm width100">
											<input type="text" id="username" name="username" placeholder="username" onblur="checkUsername();" class="formtext width100 validateInterest" required><br>
											<input type="password" id="password" name="password" placeholder="password" class="formtext width100 validateInterest" required>
										</div>
									</div>
								</div>
								<div class="buttonContainer">
									<button type="submit" class="centerBox buttonize pink">SUBMIT</button>
								</div>
							</form>
						</div>
					</div>
				<%}else{%>
					<div id="navProfilePic" style="background-image: url(<%=user.active.profile%>); background-size: cover;">
					</div>
					<div id="navName">
						<p class="navText"><%=user.active.name%></p>
					</div>
					<div id="navSettings" onclick="toggleDropdown('settingsDropdown');">
						<div id="settingsDropdown" class="dropDown">
							<div class="arrow-up dropArrow"></div>
							<%if(user.accounts.length) { %>
								<p class="dropdownHeader">Use Advocate as:</p>
								<ul style="padding-left:0;">
									<%if(user.active.type == "org"){%>
										<li class="DropdownEntry"><img src="<%=user.profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.userID%>"><%=user.name%></a></li>
									<%}%>
									<%for(account in user.accounts){%>
										<%if(user.accounts[account].id != user.active.id){%><li class="DropdownEntry"><img src="<%=user.accounts[account].profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.accounts[account].id%>"><%=user.accounts[account].name%></a></li><%}%>
									<%}%>
								</ul>
								<%if(user.active.type == 'org'){%>
									<div class="dropDownDivide"></div>
									<ul>
										<li><a href="/create" class="dropdownText">Create an event</a></li>
										<li><a href="" class="dropdownText">Track your volunteers</a></li>
									</ul>
									<div class="dropDownDivide"></div>
								<%}else if(user.active.type == 'administration'){%>
									<div class="dropDownDivide"></div>
									<ul>
										<li><a href="" class="dropdownText">Track your members</a></li>
										<div class="dropDownDivide"></div>
									</ul>
								<%}%>
							<%}%>
							<ul>
								<li><a href="/help" class="dropdownText">Help</a></li>
								<li><a href="/settings" class="dropdownText">Settings</a></li>
								<li><a href="/logout" class="dropdownText">Log Out</a></li>
							</ul>
						</div>
					</div>
					<div id="navNotifications" onclick="toggleDropdown('notifDropdown');">
						<div id="notifDropdown" class="dropDown">
							<div class="arrow-up dropArrow"></div>
							<%for(notif in user.notifs){%>
								<div class="notifWrapper">
									<div class="notifLeft" style="background-image: url(<%=user.notifs[notif].account.profile%>);">
									</div>
									<div class="notifRight <%if(user.notifs[notif].viewed){%>notifViewed<%}else{%>notifUnviewed<%}%>">
										<h3><%=user.notifs[notif].account.name%></h3>
										<a href="" style="font-weight:400;"><%=user.notifs[notif].title%></a>
										<p><%=user.notifs[notif].body%></p>
									</div>
								</div>
							<%}%>
						</div>
					</div>
				<%}%>
			</div>
		</div>
	</div>
</div>