<div id="nav" class="pink">
	<div class="gridWrapper height100 tableView">
		<div id="logo">
			<img src="resources/logo-web.png" />
		</div>
		<div id="navLeft" class="navText">
			<a href="/">Volunteer</a> | <a href="/newOrganization">Organize</a>
		</div>
		<div class="navWrapper">
			<div id="navRight">
				<%if(!auth){%>
					<a class="navText" style="margin-right: 24px;" onclick="loginModal();">Log In</a>
					<a class="smallButtonize" style="font-size: 14pt;" onclick="registerModal();">Sign Up!</a>
					<div class="overlay" id="registerOver" onclick="toggleDialogue()">
						<div class="popup" id="register" onclick="preventHide()">
							<h1 class="headTitle centerAlign">Sign Up</h1>	
							<form role="form" action="/register" method="post" id="registerForm">
								<div id="formWrapper">
									<div class="formSection">
										<p class="centerAlign">Have an account? <a href="/login">Log in</a></p>
										<div id="twitterAuth" onclick="twitterLogin();">
											<div class="buttonTable">
												<div class="buttonContent">
													<div class="buttonLogo" id="twitter"></div>
													<h3 class="buttonText">log in with twitter</h3>
												</div>
											</div>
										</div>
										<p class="caption">we'll never post anything without your permission!</p>
										<div class="optionDivider">
											<div class="dividerWrapper">
												<div class="dividerLine">
												</div>
												<h1 class="dividerText">OR</h1>
												<div class="dividerLine">
												</div>
											</div>
										</div>
										<div class="modalForm width100">
											<input type="text" id="firstName" name="firstName" placeholder="first name" class="formtext width48 validateInterest" required>
											<input type="text" id="lastName" name="lastName" placeholder="last name" class="formtext width48 floatRight validateInterest" required><br>
											<input type="text" id="affiliate" name="affiliate" placeholder="affiliated schools or organizations" class="formtext width100 validateInterest" required><br>
											<input type="text" id="username" name="username" placeholder="username" onblur="checkUsername();" class="formtext width100 validateInterest" required><br>
											<input type="email" id="emailAddress" name="emailAddress" placeholder="email" class="formtext width100 validateInterest" required><br>
											<input type="password" id="password" name="password" placeholder="password" class="formtext width100 validateInterest" required>
										</div>
									</div>
								</div>
								<div id="buttonContainer">
									<button type="submit" class="centerBox buttonize pink">SUBMIT</button>
								</div>
							</form>
						</div>
					</div>
					<div class="overlay" id="loginOver" onclick="toggleDialogue()">
						<div class="popup" id="login" onclick="preventHide()">
							<h1 class="headTitle centerAlign">SIGN UP</h1>
							<div class="colorBar">
								<div class="pink colorBlock">
								</div>
								<div class="dark colorBlock">
								</div>
								<div class="blue colorBlock">
								</div>
								<div class="yellow colorBlock">
								</div>
							</div>		
							<form role="form" action="/register" method="post" id="registerForm">
								<div id="formWrapper">
									<div class="formSection">
										<p class="centerAlign">Have an account? <a href="/login">Log in</a></p>
										<div id="twitterAuth" onclick="twitterLogin();">
											<div class="buttonTable">
												<div class="buttonContent">
													<div class="buttonLogo" id="twitter"></div>
													<h3 class="buttonText">log in with twitter</h3>
												</div>
											</div>
										</div>
										<p class="caption">we'll never post anything without your permission!</p>
										<div class="optionDivider">
											<div class="dividerWrapper">
												<div class="dividerLine">
												</div>
												<h1 class="dividerText">OR</h1>
												<div class="dividerLine">
												</div>
											</div>
										</div>
										<div class="modalForm width100">
											<input type="text" id="firstName" name="firstName" placeholder="first name" class="formtext width48 validateInterest" required>
											<input type="text" id="lastName" name="lastName" placeholder="last name" class="formtext width48 floatRight validateInterest" required><br>
											<input type="text" id="affiliate" name="affiliate" placeholder="affiliated schools or organizations" class="formtext width100 validateInterest" required><br>
											<input type="text" id="username" name="username" placeholder="username" onblur="checkUsername();" class="formtext width100 validateInterest" required><br>
											<input type="email" id="emailAddress" name="emailAddress" placeholder="email" class="formtext width100 validateInterest" required><br>
											<input type="password" id="password" name="password" placeholder="password" class="formtext width100 validateInterest" required>
										</div>
									</div>
								</div>
								<div id="buttonContainer">
									<button type="submit" class="centerBox buttonize pink">SUBMIT</button>
								</div>
							</form>
						</div>
					</div>
				<%}else{%>
					<div id="navProfilePic" style="background-image: url(<%=user.active.profile%>); background-size: cover;">
					</div>
					<div id="navName">
						<p class="navText"><%=user.active.name%></p>
					</div>
					<div id="navSettings" onclick="toggleDropdown('settingsDropdown');">
						<div id="settingsDropdown" class="dropDown">
							<div class="arrow-up dropArrow"></div>
							<%if(user.accounts.length) { %>
								<p class="dropdownHeader">Use Advocate as:</p>
								<ul style="padding-left:0;">
									<%if(user.active.type == "org"){%>
										<li class="orgsDropdownEntry"><img src="<%=user.profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.userID%>"><%=user.name%></a></li>
									<%}%>
									<%for(account in user.accounts){%>
										<%if(user.accounts[account].id != user.active.id){%><li class="orgsDropdownEntry"><img src="<%=user.accounts[account].profile%>" width="25px" height="25px" style="margin-right:8px;"/><a href="/switch?account=<%=user.accounts[account].id%>"><%=user.accounts[account].name%></a></li><%}%>
									<%}%>
								</ul>
								<%if(user.active.type == 'organization'){%>
									<div class="dropDownDivide"></div>
									<ul>
										<li><a href="/create" class="dropdownText">Create an event</a></li>
										<li><a href="/track" class="dropdownText">Track your volunteers</a></li>
									</ul>
									<div class="dropDownDivide"></div>
								<%}else if(user.active.type == 'administration'){%>
									<div class="dropDownDivide"></div>
									<ul>
										<li><a href="/track" class="dropdownText">Track your members</a></li>
									</ul>
								<%}%>
								<div class="dropDownDivide"></div>
							<%}%>
							<ul>
								<li><a href="/help" class="dropdownText">Help</a></li>
								<li><a href="/settings" class="dropdownText">Settings</a></li>
								<li><a href="/logout" class="dropdownText">Log Out</a></li>
							</ul>
						</div>
					</div>
					<div id="navNotifications" onclick="toggleDropdown('notifDropdown');">
						<div id="notifDropdown" class="dropDown">
							<div class="arrow-up dropArrow"></div>
							<%for(notif in user.notifs){%>
								<div class="notifWrapper">
									<div class="notifLeft" style="background-image: url(<%=user.notifs[notif].account.profile%>);">
									</div>
									<div class="notifRight <%if(user.notifs[notif].viewed){%>notifViewed<%}else{%>notifUnviewed<%}%>">
										<h3><%=user.notifs[notif].account.name%></h3>
										<a href="" style="font-weight:400;"><%=user.notifs[notif].title%></a>
										<p><%=user.notifs[notif].body%></p>
									</div>
								</div>
							<%}%>
						</div>
					</div>
				<%}%>
			</div>
		</div>
	</div>
</div>