<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<meta name="viewport" content="width=device-width">
		<meta name="event" key="<%=eventID%>">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="transparent">
		<link rel="apple-touch-icon" href="/resources/icon.png">
		<!-- iPhone 6 -->
		<link href="/resources/loader-iphone-6.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		
		<!-- iPhone 6+ Portrait -->
		<link href="/resources/loader-iphone-6-plus.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
		
		<link rel="apple-touch-startup-image" media="(device-width: 320px)" href="/resources/loader-iphone-4.png">
		<!-- iPhone (Retina) -->
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/resources/loader-iphone-4-retina">
		
		<!-- iPad (portrait) -->
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait)" href="/resources/loader-ipad.png">
		<!-- iPad (Retina, portrait) -->
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/resources/loader-ipad-retina.png">

		<!-- iPhone 5 startup image -->
		<link href="/resources/loader-iphone-5-tall.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
		<!-- iPhone < 5 retina startup image -->
		<link href="/resources/loader-iphone-5.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		
		<title>Advocate</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<script src="/javascripts/swipe.js"></script>
		<link rel="stylesheet" href="/stylesheets/mobile_management.css" title="Advocate Mobile Style" type="text/css" media="screen" charset="utf-8">
		<script src="/javascripts/checkin_management.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body>
		<header>
			<nav id="top_nav">
				<div class="nav_sect icon_all nav_selected" status="0,1,2"></div>
				<div class="nav_sect icon_unarrived" status="0"></div>
				<div class="nav_sect icon_checked_in" status="1"></div>
				<div class="nav_sect icon_checked_out" status="2"></div>
			</nav>
		</header>
		<section id="group_sort_title">
			<h2>All Groups</h2>
			<div class="down_arrow"></div>
		</section>
		<section id="group_dropdown" class="retracted" style="height:0px">
			<div class="group_item" group="<%=groups.map(function(group){return group.name})%>" style="font-weight: bold;"><menuitem>All Groups (<%=groups.map(function(group){return group.members}).reduce(function(a, b){return a + b;})%>)</menuitem></div>
			<%for(var i=0; i<groups.length; i++){%>
				<%if(groups[i].name != ""){%>
					<div class="group_item filter_select" group="<%=groups[i].name%>"><menuitem><%=groups[i].name%> (<%=groups[i].members%>)</menuitem></div>
				<%}%>
			<%}%>
		</section>
		<section id="volunteers">
			<%for(var i=0; i<volunteers.length; i++){%>
				<div class="volunteer_wrapper" group="<%=volunteers[i].group%>" status="<%=volunteers[i].status%>" uniqueID="<%=volunteers[i]._id.toString()%>">
					<div class="action check_in"></div>
					<div class="volunteer">
						<div class="bubble bubble_green"></div>
						<h3><%=volunteers[i].firstname%> <%=volunteers[i].lastname%></h3>
					</div>
					<div class="volunteer_mask">
					</div>
				</div>
			<%}%>
		</section>
	</body>
</html>
