<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<meta name="viewport" content="width=device-width">
		<meta name="event" key="<%=eventID%>">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="transparent">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="apple-touch-icon" href="/resources/icon.png">
		<!-- iPhone 6 -->
		<link href="/resources/loader-iphone-6.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		
		<!-- iPhone 6+ Portrait -->
		<link href="/resources/loader-iphone-6-plus.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
		
		<link rel="apple-touch-startup-image" media="(device-width: 320px)" href="/resources/loader-iphone-4.png">
		<!-- iPhone (Retina) -->
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/resources/loader-iphone-4-retina">
		
		<!-- iPad (portrait) -->
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait)" href="/resources/loader-ipad.png">
		<!-- iPad (Retina, portrait) -->
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/resources/loader-ipad-retina.png">

		<!-- iPhone 5 startup image -->
		<link href="/resources/loader-iphone-5-tall.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
		<!-- iPhone < 5 retina startup image -->
		<link href="/resources/loader-iphone-5.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		
		<title>Advocate</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<script src="/javascripts/swipe.js"></script>
		<link rel="stylesheet" href="/stylesheets/mobile_management.css" title="Advocate Mobile Style" type="text/css" media="screen" charset="utf-8">
		<script src="/javascripts/checkin_management.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body class="preload">
		<header>
			<nav id="top_nav">
				<!--<div class="nav_sect icon_all" status="0,1,2"></div>-->
				<div class="nav_sect icon_blank nav_selected" status="0"></div>
				<div class="nav_sect icon_check" status="1"></div>
				<!--<div class="nav_sect icon_checked_out" status="2"></div>-->
			</nav>
		</header>
		<section id="group_sort_title">
			<div id="select_wrap">
				<select id="group_drop">
					<%for(var i=0; i<groups.length; i++){%>
						<%if(groups[i].name != ""){%>
							<option value="<%=groups[i].name%>"><%=groups[i].name%> (<%=groups[i].members%>)</option>
						<%}else{%>
							<option value="<%=groups[i].name%>">Unaffiliated (<%=groups[i].members%>)</option>
						<%}%>
					<%}%>
				</select>
				<div class="down_arrow"></div>
			</div>
		</section>
		<section id="volunteers">
			<%for(var i=0; i<volunteers.length; i++){%>
				<div class="volunteer_wrapper" group="<%=volunteers[i].group%>" status="<%=volunteers[i].status%>" uniqueID="<%=volunteers[i]._id.toString()%>">
					<div class="action check_in"></div>
					<div class="volunteer">
						<div class="bubble bubble_green"></div>
						<h3><%=volunteers[i].firstname%> <%=volunteers[i].lastname%></h3>
						<div class="info_icon info_inactive"></div>
					</div>
					<div class="volunteer_mask">
					</div>
					<div class="volunteer_info">
						<div class="info_headers">
							<info>phone #:</info>
							<br>
							<info>emerg. #:</info>
						</div>
						<div class="info_data">
							<info><a href="tel:<%=volunteers[i].phone%>"><%=volunteers[i].phone%></a</info>
							<br>
							<info><a href="tel:<%=volunteers[i].emergency_phone%>"><%=volunteers[i].emergency_phone%></a></info>
						</div>
					</div>
				</div>
			<%}%>
		</section>
	</body>
</html>
