<html>
	<head>
		<title>Advocate</title>
		<link rel="stylesheet" href="/stylesheets/eventview.css" title="Advocate Styling" type="text/css" media="screen" charset="utf-8">
		<% include includes/boilerplate %>
	</head>
	<body>
		<div id="wrapper">
			<% include includes/header %>
			
			<div id="content" class="gridWrapper">
				<div id="orgHeader">
					<div id="orgLogo" class="medProfPhoto" style="background-image: url(<%=user.active.profile%>);"></div>
					<h1 class="orgHeaderText"><%=user.active.name%></h1>
				</div>
				<div id="eventWrapper" class="fullWidth padding">
					<%var index = 1;%>
					<%for(event in events){%>
						<div class="eventBlock thirdWidth <%if(index % 3 !== 0){%>eventBlockMargin<%}%>">
							<div class="eventBlockCover" style="background-image: url(<%=events[event].cover%>);">
							</div>
							<div class="eventBlockInfo">
								<h3><%=events[event].title%></h3>
								<p><%=events[event].city%>, <%=events[event].state%></p>
								<p>
									<%for(var key in events[event].dates){%>
										<%=key %>
										<%for(date in events[event].dates[key].days){%>
											<%=events[event].dates[key].days[date]%> 
										<%}%>
									<%}%>
								</p>
								<br>
								<div class="eventBlockDescription">
									<p><%=events[event].description%></p>
								</div>
							</div>
							<div class="eventBlockProgress">
								<div class="eventBlockDetails">
									<div class="eventBlockNumbers"><h2>10 of <%=events[event].openings%></h2></div>
									<div class="eventBlockNumberDesc"><p> spots filled</p></div>
								</div>
								<div class="eventBlockInner" style="width: <%=10/events[event].openings*100%>%;">
								</div>
							</div>
						</div>
					<%index++;%>
					<%}%>
					<div id="newEvent" class="eventBlock">
						<div id="createEvent" class="buttonContainer">
							<a href="/newEvent"><button class="buttonize pink centerBox" style="width: 228">add a new event!</button></a>
						</div>
					</div>
				</div>
			</div>
			<% include includes/footer %>
		</div>
		<script src="/javascripts/js_generic.js"></script>
		<%if(auth){%><script src="/javascripts/js_header.js"></script><%}%>
	</body>
</html>
