<html>
	<head>
		<title>Advocate</title>
		<link rel="stylesheet" href="/stylesheets/eventview.css" title="Advocate Styling" type="text/css" media="screen" charset="utf-8">
		<% include includes/boilerplate %>
	</head>
	<body>
		<div id="wrapper">
			<% include includes/header %>
			
			<div id="content" class="gridWrapper">
				<div id="eventWrapper" class="fullWidth padding">
					<%var index = 1;%>
					<%for(event in events){%>
						<div class="eventBlock thirdWidth <%if(index % 3 !== 0){%>eventBlockMargin<%}%>">
							<a style="position: absolute; width: 306px; height:429px; z-index: 10;" href="/event/<%=events[event].id%>"><span style="position: absolute; width: 306px; height:429px;"></span></a>
							<div class="eventBlockCover" style="background-image: url(<%=events[event].cover%>);">
							</div>
							<div class="eventBlockInfo">
								<h3><%=events[event].title%></h3>
								<p><%=events[event].city%>, <%=events[event].state%></p>
								<p>
									<%for(var key in events[event].dates){%>
										<%=key %>
										<%for(date in events[event].dates[key].days){%>
											<%=events[event].dates[key].days[date]%> 
										<%}%>
									<%}%>
								</p>
								<br>
								<div class="eventBlockDescription">
									<p><%=events[event].description%></p>
								</div>
							</div>
							<div class="eventBlockProgress">
								<div class="eventBlockDetails">
									<div class="eventBlockNumbers"><h2><%=events[event].volunteered%> of <%=events[event].openings%></h2></div>
									<div class="eventBlockNumberDesc"><p> spots filled</p></div>
								</div>
								<div class="eventBlockInner" style="width: <%=events[event].volunteered/events[event].openings*100%>%;">
								</div>
							</div>
						</div>
					<%index++;%>
					<%}%>
						<div class="eventBlock thirdWidth eventBlockMargin">
							<a style="position: absolute; width: 306px; height:429px; z-index: 10;" href="/event/colorrun"><span style="position: absolute; width: 306px; height:429px;"></span></a>
							<div class="eventBlockCover" style="background-image: url(https://advocate-production-events.s3.amazonaws.com/bWWTaANWEZ.jpeg);">
							</div>
							<div class="eventBlockInfo">
								<h3>Providence Color Run</h3>
								<p>Providence, RI</p>
								<p>Oct 05</p>
								<br>
								<div class="eventBlockDescription">
									<p>It&#39;s a dirty job, but somebody&#39;s got to do it. Our cleanup crews make The Color Run possible. Cleanup crews will help sweep the course and festival areas to ensure all areas are free from debris, litter, and color caused by the race. They will be considered heroes.</p>
								</div>
							</div>
							<div class="eventBlockProgress">
								<div class="eventBlockDetails">
									<div class="eventBlockNumbers"><h2>0 of 50</h2></div>
									<div class="eventBlockNumberDesc"><p> spots filled</p></div>
								</div>
								<div class="eventBlockInner" style="width: 0%;">
								</div>
							</div>
						</div>
				</div>
			</div>
			<% include includes/footer %>
		</div>
		<script src="/javascripts/js_generic.js"></script>
		<%if(auth){%><script src="/javascripts/js_header.js"></script><%}%>
	</body>
</html>
